@import '../../styles/common.scss';


wt-chips {
    position: fixed;
    width: 85.3972%;
    height: 56px;
    background-color: var(--main-bg);
    margin: 60px 0 0 250px;
    z-index: 100;

    #container {
        width: 70%;
        height: 56px;
    }

}

wt-chips-wrapper {
    white-space: nowrap;
    font-size: 0.8rem;
    margin: 8px;
    height: 32px;
    padding: 0 15px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background: var(--category-bt-bg);
    color: var(--text-primary);

    .wt-chips-wrapper {
        max-width: 20rem;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.wt-chips {
    display: flex;
    justify-content: center;
    align-items: center;
}