.category {
    position: fixed;
    width: 85.3972%;
    height: 56px;
    background-color: #212121;
    z-index: 100;

    &_container {
        /* width: 930px; */
        width: 68.8735%;
        // width: 100%;
        // background: red;
        display: flex;
        justify-content: flex-start;
        // justify-content: space-between;
        height: 56px;
        /* background: #fff; */
        margin: 0 auto;
    }

    &_item {
        max-width: 20rem;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &_container {
            margin: 12px;
            height: 32px;
            min-width: 12px;
            padding: 0 10px;
            border-radius: 8px;
            box-sizing: border-box;
            outline: none;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            display: inline-flex;
            white-space: nowrap;
            font-size: 0.8rem;
            background: #fff;
            color: #000;
        }
    }
}