#comment.wtd-comment-thread-render {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#body.wtd-comment-render {
    position: relative;
    display: flex;
    flex-direction: row;
}

#author-thumbnail.wtd-comment-render {
    flex: none;
}

wt-img-shadow.wtd-comment-render {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    transition: none;
}

#main.wtd-comment-render {
    min-width: 0;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: column;
}

#header.wtd-comment-render {
    margin-bottom: 2px;
}

#header-author.wtd-comment-render {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

#author-text.wtd-comment-render {
    margin-right: 4px;
    color: var(--text-primary);
    margin-bottom: 2px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.published-time-text.wtd-comment-render {
    --wt-endpoint-color: var(--text-secondary);
    --wt-endpoint-visited-color: var(--text-secondary);
    color: var(--text-secondary);
    white-space: nowrap;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 400;
}

#comment-content.wtd-comment-render {
    display: inline-flex;
    width: 100%;
}

#expander.wtd-comment-render {
    --wtd-expander-max-lines: 4;
    --wtd-expander-button-margin: 4px 0 0 0;
    overflow: auto;
    width: 100%;
}

#content.wtd-expander {
    color: var(--text-primary);
    // display: -webkit-box;
    overflow: hidden;
    max-height: none;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--wtd-expander-max-lines, 4);
}

#content-text.wtd-comment-render {
    --wt-endpoint-color: var(--text-sub-blue);
    --wt-endpoint-hover-color: var(--text-sub-blue);
    --wt-endpoint-visited-color: var(--text-sub-blue);
    color: var(--text-primary);
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    overflow-wrap: anywhere;
    white-space: pre-wrap;

    #tag {
        color: var(--wt-endpoint-color);
    }
}

wt-paper-button.wtd-expander {
    margin: var(--wtd-expander-button-margin, 0);
    padding: 0;
    align-self: flex-start;
    display: inline-block;
    text-align: center;
    font-family: inherit;
}

.more-button.wtd-comment-render,
.less-button.wtd-comment-render {
    text-transform: none;
    color: var(--text-secondary);
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}