@import '../../styles/common.scss';


.channel_containers{
    background: var(--main-background);
}

.channel_sidebars_container {
    display: flex;
    width: 250px;
    height: 100vh;
}

.channel_contents_container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.channel_details_container{
    width: 1478px;
    height: 100vh;
}