@import '../../styles/common.scss';


.main {
    font-family: "YouTube Sans", "Roboto", "Arial", sans-serif;
    left: 256px;
    top: 64px;
    color: white;
    background-color: var(--studio-bg);
    padding-top: 66px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 20px;

    .page-title {
        overflow: initial;
        text-overflow: initial;
        font-family: "YouTube Sans", "Roboto", "Arial", sans-serif;
        font-weight: 600;
        font-size: 25px;
        line-height: 32px;
        flex-shrink: 1;
        left: 0;
        padding-left: 32px;
        padding-top: 23px;
        position: sticky;

    }

    .header {
        position: sticky;
        top: 0;
        z-index: 3;
        font-size: 15px;
        font-weight: 600;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        padding: 0 24px;
        margin-top: 15px;

        .tabsContent {
            display: flex;
            align-self: flex-end;
            align-items: center;
            flex: 1;
            height: 48px;
            font-weight: 600;
            overflow: hidden;
            min-width: 0;

            .tab-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 8px;
                margin-right: 32px;
                padding: 0;
                height: 100%;
                color: #AAAAAA;
                cursor: pointer;

                .title {
                    height: 48px;
                    line-height: 40px;
                }

                .selectionBar {
                    width: 100%;
                    border-radius: 3px 3px 0 0;
                    height: 3px;
                    background-color: var(--wt-theme-blue-bg);
                    visibility: hidden;
                }

            }

            .tab-content.active {
                color: var(--wt-theme-blue-bg);

                .selectionBar {
                    visibility: visible;
                }
            }
        }
    }

    .table {
        >.header {
            margin-top: 0;
            padding: 0;

            .left-header {
                display: flex;
                width: 100%;
                border-bottom: 1px solid var(--wt-line-divider);


                .filter {
                    margin: 4px;
                    line-height: 24px;
                    font-weight: 400;
                    min-width: 40px;
                    display: flex;
                    width: 100%;
                    padding: 4px 0;

                    input {
                        background-color: transparent;
                        border: none;
                        width: 100%;
                        color: white;
                        font-weight: 400;
                        font-size: 15px;


                    }

                    input:focus {
                        outline: none;
                    }
                }
            }

            .table-header {
                display: flex;
                font-weight: 500;
                letter-spacing: 0.011em;
                font-size: 12px;
                height: 47px;
                flex: 0 0 32px;

                >div {
                    min-width: 32px;
                    padding-left: 24px;
                    padding-right: 4px;
                    display: flex;
                    align-items: center;

                }

                .checkboxBox {
                    width: fit-content;
                    padding-left: 24px;
                    padding-right: 4px;

                    .checkbox {
                        min-width: 32px;
                        display: inline-block;
                        position: relative;
                        width: 18px;
                        height: 18px;
                        background-color: transparent;


                    }
                }

                .video {
                    flex: 3 0 382px;
                    min-width: 382px;
                    padding-left: 12px;
                    padding-right: 0px;
                }

                .publicPrivate {
                    min-width: 100px;
                    padding-left: 24px;
                    padding-right: 8px;
                    flex: 1 0 100px;
                }

                .profit {
                    min-width: 100px;
                    padding-left: 12px;
                    padding-right: 8px;
                    flex: 1 0 100px;
                }

                .restriction {
                    min-width: 100px;
                    padding-left: 12px;
                    padding-right: 12px;
                    flex: 1 0 100px;
                }

                .date {
                    min-width: 100px;
                    padding-left: 12px;
                    padding-right: 12px;
                    flex: 0 0 100px;
                }

                .view {
                    flex: 1 0 60px;
                    justify-content: flex-end;
                    min-width: 100px;
                    padding-left: 12px;
                    padding-right: 12px;
                }

                .review {
                    flex: 1 0 60px;
                    justify-content: flex-end;
                    min-width: 100px;
                    padding-left: 12px;
                    padding-right: 12px;
                }

                .good {
                    flex: 1 0 100px;
                    justify-content: flex-end;
                    min-width: 100px;
                    padding-left: 12px;
                    padding-right: 24px;
                    flex: 1 0 100px;
                }
            }


        }

        .contentRow {
            display: flex;
            min-width: 32px;
            padding: 4px 4px 0 24px;
            flex: 0 0 32px;
            border-bottom: 1px solid var(--wt-line-divider);

            .checkbox {
                width: 18px;
                height: 18px;
                padding: 4px;
                margin: 7px;
            }

            .video-cell {
                min-width: 382px;
                padding-left: 12px;
                padding-right: 0px;
                flex: 3 0 382px;
                left: 60px;

                .videoPart {
                    display: flex;
                    align-items: flex-start;

                    .video-thumnail {
                        flex: 0 0;
                        padding: 8px 0;

                        .thumnail {
                            width: 120px;
                            height: 68px;
                        }
                    }

                    .right-section {
                        margin-right: 16px;
                        flex: 1 1;
                        overflow: hidden;
                        margin: 0 16px 0 0;
                        padding: 6px 0 0;

                        .video-title {
                            font-size: 13px;
                            padding-top: 8px;
                            height: 24px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin: 0 0 0 16px;
                            padding: 8px 0 0;
                            height: 24px;
                        }

                        .video-description {
                            margin-left: 16px;
                            font-size: 12px;
                            color: #AAAAAA;
                            height: 32px;
                            overflow: hidden;
                            line-height: 16px;
                            letter-spacing: 0.011em;

                        }
                    }
                }
            }

            .cell1 {
                min-width: 100px;
                padding-left: 24px;
                padding-right: 8px;
                flex: 1 0 100px;

                .part {
                    display: flex;
                    flex-direction: row;
                    padding-top: 12px;

                    .icon {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            .cell2 {
                min-width: 100px;
                padding-left: 12px;
                padding-right: 8px;
                flex: 1 0 100px;

                .part {
                    display: flex;
                    flex-direction: row;
                    padding-top: 12px;

                    .icon {
                        width: 26px;
                        height: 32px;
                    }
                }
            }

            .cell3 {
                min-width: 100px;
                padding-left: 12px;
                padding-right: 12px;
                flex: 1 0 100px;

                .part {
                    display: flex;
                    flex-direction: row;
                    padding-top: 12px;
                }
            }

            .cell4 {
                min-width: 100px;
                padding-left: 12px;
                padding-right: 12px;
                flex: 0 0 100px;
                padding-top: 12px;
            }

            .cell5 {
                min-width: 60px;
                padding-left: 12px;
                padding-right: 12px;
                flex: 1 0 60px;
                justify-content: flex-end;
                text-align: right;
                padding-top: 12px;
            }

            .cell6 {
                min-width: 60px;
                padding-left: 12px;
                padding-right: 12px;
                flex: 1 0 60px;
                text-align: right;
                padding-top: 12px;
            }

            .cell7 {
                display: flex;
                flex-direction: column;
                min-width: 100px;
                padding-left: 12px;
                padding-right: 24px;
                flex: 1 0 100px;
                align-items: flex-end;
                padding-top: 12px;
            }
        }
    }
}