@import '../../styles/common.scss';


.content {
    width: 85.3972%;
    margin-left: 250px;
    padding-top: 116px;
}

.content_container {
    display: flex;
    width: 100%;
    padding: 20px;
    padding-top: 24px;
}

.content_grid_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content_grid_row_container {
    width: 100%;
    display: flex;
}

.content_grid_row_item_container {
    margin: 0 8px 40px 8px;
    width: 350px;
    width: calc(100% / 4 - 16px - 0.01px);
}

.grid_container {
    width: 340px;
    height: 320px;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg);
}

.grid_card {
    video {
        width: 100%;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
            // position: absolute;
            width: 120%;
            z-index: 10;
        }
    }
}

.content_detail_container {
    position: relative;
    cursor: pointer;
    margin: 0 12px;
    flex: auto;
    display: flex;
    flex-direction: row;
}

.content_detail_profile_link {
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
}

.content_detail_profile_container {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.content_detail_meta_title {
    h3 {
        color: var(--text-primary);
        margin: 12px 0 4px 0;
    }

    a {
        display: block;
        text-decoration: none;
        cursor: pointer;
    }

    p {
        color: var(--text-primary);
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 500;
        overflow: hidden;
        display: block;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

.content_detail_meta_body {
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: normal;
        color: var(--text-primary);
        font-size: 1rem;
    }
}

.content_detail_meta_body_data {
    display: flex;
    flex-direction: row;

    p {
        color: var(--text-primary);
        font-size: 1rem;

        &:first-child {
            padding-right: 1rem;
        }
    }
}


wt-grid-row #contents.wt-grid-row {
    width: 100%;
    max-width: calc(var(--wt-grid-item-row) * (var(--wt-grid-item-max-width) + var(--wt-grid-item-margin)));
    margin: 0 16px;
    display: flex;
}

#contents.wt-grid-render {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#content.wt-item-render {
    height: 100%;
    display: flex;
    justify-content: center;
}

#dismissible.wt-grid-media{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

wtd-thumbnail.wt-grid-media{
    width: 100%;
    position: relative;
}

wtd-thumbnail #thumbnail.wtd-thumbnail{
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
}

wtd-thumbnail a.wtd-thumbnail{
    border-radius: 12px;
}

wt-image img.wtd-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

wtd-thumbnail-overlay-progress-render{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    background-color: var(--wt-text-disabled);
    z-index: 1;
}

#progress.wtd-thumbnail-overlay-progress-render{
    background-color: var(--wt-theme-red);
    height: 100%;
}