@import '../../styles/common.scss';


.content {
    width: 85.3972%;
    margin-left: 250px;
    padding-top: 116px;
}

.content_grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    background-color: var(--main-bg);
    padding: 20px;
    padding-top: 24px;
}

.grid_container {
    width: 340px;
    height: 320px;
    display: flex;
    flex-direction: row;
    background: aqua;
    background-color: var(--main-bg);
}

.grid_card {
    video {
        width: 100%;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
            // position: absolute;
            width: 120%;
            z-index: 10;
        }
    }
}

.content_detail_container {
    position: relative;
    cursor: pointer;
    margin: 0 12px;
    flex: auto;
    display: flex;
    flex-direction: row;
}

.content_detail_profile_link {
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
}

.content_detail_profile_container {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.content_detail_meta_title {
    h3 {
        color: #fff;
        margin: 12px 0 4px 0;
    }

    a {
        display: block;
        text-decoration: none;
        cursor: pointer;
    }

    p {
        color: #fff;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 500;
        overflow: hidden;
        display: block;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

.content_detail_meta_body {
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: normal;
        color: #fff;
        font-size: 1rem;
    }
}

.content_detail_meta_body_data {
    display: flex;
    flex-direction: row;

    p {
        color: #fff;
        font-size: 1rem;

        &:first-child {
            padding-right: 1rem;
        }
    }
}