.headers{
    // position: absolute;
    // width: 100%;
    width: 1478px;
    height: 400px;
    // top: 60px;
    left: 14.468%;
    background-color: red;
    display: flex;
    justify-content: center;
    // div{
    //     width: 1478px;
    //     height: 100px;
    //     background: yellow;
    // }
}

// .header_container {
//     // padding: 0 94px;
//     width: 90%;
//     width: 1284px;
//     // width: 500px;
//     height: 400px;
//     background: aqua;
// }