@import '../../styles/common.scss';

.channel {
    width: 85.3972%;
    margin-left: 250px;
    padding-top: 60px;
    height: 100vh;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;

    &_header {
        background: var(--main-bg);

        hr {
            background: var(--white-alpha-10);
            height: 1px;
            border: none;
        }
    }
}

.channel_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_container {
        width: 1284px;
        display: flex;
        margin: 16px 0 4px 0;
        align-items: center;
    }
}

.channel_profile_image_container {
    width: 80px;
    height: 80px;
    margin-right: 20px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.channel_profile_content {
    &_container {
        width: 1180px;
        display: flex;
        align-items: center;
    }

    &_meta {
        width: 958px;
        color: var(--text-primary);
    }

    &_name {
        font-size: 24px;
    }

    &_sub {
        font-size: 15px;
    }
}

.channel_profile_content_button_container {
    display: flex;
    align-items: center;

    div {
        width: 110px;
        font-size: 14px;
        padding: 10px;
        background: var(--bg-sub-blue);
        border-radius: 24px;
        text-align: center;
        color: var(--bg-black);
        font-weight: 500;
        margin-right: 5px;
    }
}

.channel_tab_container {
    display: flex;
    justify-content: center;
}

.channel_tab_item_container {
    width: 1284px;
    display: flex;
    align-items: center;
    color: var(--white-alpha-30);


    &:first-child {
        margin-left: 10px;
    }

    div {
        padding: 24px 30px 14px;
        font-size: 14px;
        text-align: center;

        &:hover {
            color: var(--text-primary);
        }
    }
}

.channel_content {
    height: 400px;
    background: var(--main-bg);
}

.channel_tab_item_active {
    border-bottom: 3px solid var(--tab-active-border);
    color: var(--text-primary);
}