.upload {
    // margin-left: 100px;
    width: 960px;
    height: 840px;
    margin-top: 40px;
    background: #212121;
    display: flex;
    flex-direction: column;
    z-index: 3000;
    position: fixed;
    left: 50px;
    top: 24px;

    &_title {
        height: 64px;

        &_container {
            width: 100%;
            height: 64px;
            padding-left: 24px;
            padding-right: 16px;
            background: #212121;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        &_text {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 675px;
            margin-right: 16px;
            color: #fff;
        }

        &_button {
            padding-right: 10px;
            padding-left: 5px;
        }

        &_button_container {
            display: flex;
            // justify-content: flex-end;
        }
    }

    &_content {
        height: 100%;
        background: aqua;
        background: #212121;
        margin-bottom: 10px;
        color: #fff;
        // flex: 1;

        &_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // min-height: 370px;
            padding: 16px 50px 0;
            margin-top: 200px;
        }

        &_icon {
            position: absolute;
            top: 43px;
            left: 43px;

            &_box {
                width: 136px;
                height: 136px;
                border-radius: 50%;
                background: rgba(15, 15, 15, 0.5);
                position: relative;
            }

        }

        &_title_container {
            margin-top: 23px;
            font-size: 15px;
            line-height: 24px;
        }

        &_subtitle_container {
            margin-top: 2px;
            font-size: 13px;
            color: #aaa;
            line-height: 20px;
        }

        &_button {
            display: flex;
            color: #0d0d0d;
            background: #3ea6ff;
            padding: 0 8px;
            padding-left: 16px;
            padding-right: 16px;
            border-radius: 2px;
            height: 36px;
            text-align: center;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;

            &_container {
                margin-top: 26px;
                margin-bottom: 200px;
            }
        }

        &_info_container {
            font-family: "Roboto", "Noto", sans-serif;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            letter-spacing: 0.011em;
            font-size: 12px;
            line-height: 16px;
            color: #aaa;
            text-align: center;
            line-height: 24px;
        }

        &_subinfo_container {
            font-family: "Roboto", "Noto", sans-serif;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            letter-spacing: 0.011em;
            font-size: 12px;
            line-height: 16px;
            color: #aaa;
            text-align: center;
            line-height: 24px;
            margin-bottom: 4px;
        }
    }
}