.channel_sidebars_container {
    display: flex;
    width: 250px;
    height: 100vh;
    margin-top: -60px;
}

.channel_contents_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
}

.channel_mains_container{
    margin-top: -60px;
}