@import '../../styles/common.scss';

.header {
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    position: fixed;
    background-color: var(--main-bg);
    z-index: 100;
}

.header_container {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}

.header {
    &_left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &_center {
        display: flex;
        flex-direction: row;
    }

    &_right {
        display: flex;
        width: 260px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.header_nav_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.header_logo {
    cursor: pointer;
    font-size: 24px;
    color: var(--logo-color);
    padding: 16px 18px 14px;
}


.search_box {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_container {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid var(--searchbar-border-color);
    border-right: none;
    border-radius: 40px 0 0 40px;
    background-color: var(--main-background);

    form {
        margin-left: 10px;
    }

    input {
        border: none;
        height: 30px;
        width: 500px;
        color: var(--header-input-color);
        background-color: var(--main-background);
        outline: none;
        padding: 2px 6px;
    }
}

.search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 40px;
    color: var(--search-icon-color);
    border: 1px solid var(--searchbar-border-color);
    border-radius: 0 40px 40px 0;
    background: var(--searchbar-button-color);

}

input::-webkit-input-placeholder {
    font-size: 16px;
}