@import '../../styles/common.scss';

.detail {
    &_containers {
        background: var(--main-background);
    }

    // &_contents_container {
    //     display: flex;
    //     width: 100vw;
    //     height: 100vh;
    // }
}

.test{
    margin-left: 200px;
    width: 1080px;
    height: 400px;
}

.test_video{
    width: 100%;

}
