.adnotice_container {
    position: absolute;
    bottom: 80px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 10px;
    background: #00000069;
    color: #fff;
    text-align: center;
}