@import '../../styles/common.scss';

.sidebar {
    background-color: #0f0f0f;
    width: 250px;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 10px;

    &_list {
        margin: 0;
        padding: 0;
        width: 100%;

        &_menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;

            &_line {
                border: none;
                width: 250px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                margin: 14px 0;
            }
        }

        &_item {
            display: flex;
            justify-content: flex-start;
            list-style: none;
            color: #fff;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            padding: 0 12px;

            &:first-of-type{
                border-radius: 10px;
                background: rgba(255,255,255,0.1);
            }

            &:hover {
                border-radius: 10px;
                background: rgba(255,255,255,0.1);
            }

            &_box {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 40px;
            }

            &_content {
                width: 132px;
                margin-left: 25px;
                font-size: 0.9rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                // line-height: 20px;
            }
        }
    }
}

.sidebar_list_item_active{
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
}