@import '../../styles/common.scss';

wt-side {
    background-color: var(--main-bg);
    width: 250px;
    position: fixed;
    margin-top: 60px;
}

wt-side-list {
    margin: 0;
    padding: 0;
    width: 100%;


    hr {
        border: none;
        width: 250px;
        border-bottom: 1px solid var(--white-alpha-10);
        margin: 14px 0;
    }
}

wt-side-menu {
    padding: 0 10px;
    flex-direction: column;

}

wt-side-item {
    justify-content: flex-start;
    list-style: none;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    padding: 0 12px;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        border-radius: 10px;
        background: var(--sidebar-bt-bg);
    }
}

wt-side-item-wrapper {
    align-items: center;
    height: 40px;

    div {
        width: 132px;
        margin-left: 25px;
        font-size: 0.9rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.wt-side {
    display: flex;
    // justify-content: center;
    // align-items: center;
}

.wt-side-active {
    border-radius: 10px;
    background: var(--sidebar-bt-bg);
}