.landing_containers {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #212121;
}

.headers_container {
    display: flex;
    width: 100vw;
    height: 60px;
}

.landing_contents_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
}

.landing_sidebars_container {
    display: flex;
    width: 250px;
    height: 100vh;
    // background: red;
}

.landing_mains_container {
    display: flex;
    flex-direction: column;
    width: 1478px;
    height: 100vh;
    // background: aqua;
}

.landing_categorys_container{
    width: 1478px;
    height: 56px;
}

.landing_details_container{
    width: 1478px;
    height: 100vh;
}