.studio_containers{
    background: #212121;
}

.studio_headers_container {
    display: flex;
    width: 100vw;
    height: 64px;
    background: #282828;
}

.studio_sidebars_container{
    display: flex;
    width: 250px;
    height: 100vh;
}