* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #717171;
}

wt-iron-icon {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  width: var(--iron-icon-width, 24px);
  height: var(--iron-icon-height, 24px);
  margin-top: var(--iron-icon-margin-top);
  margin-right: var(--iron-icon-margin-right);
  margin-bottom: var(--iron-icon-margin-bottom);
  margin-left: var(--iron-icon-margin-left);
  padding: var(--iron-icon-padding);
}

wt-iron-icon,
iron-icon {
  --iron-icon-width: var(--icon-standard-length);
  --iron-icon-height: var(--icon-standard-length);
  color: var(--icon-color);
}



wt-button[disabled] {
  background: transparent;
  color: var(--wt-text-disabled);
  cursor: default;
}

wt-button[type=filled] {
  color: var(--text-primary-inverse);
  background-color: var(--wt-theme-blue-bg);
}

wt-button[type=filled] {
  padding-left: 16px;
  padding-right: 16px;
}

wt-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  min-width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0;
  position: relative;
  color: var(--text-sub-blue);
  font-family: "Roboto", "Noto", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 20px;
}

button.remove-default-style {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
}

wt-iron-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 2002;
  display: none;
}

wt-icon-button {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}


wt-icon-button {
  width: var(--icon-standard-length);
  height: var(--icon-standard-length);
  padding: var(--icon-standard-padding);
}

wt-iron-icon.wt-icon-button {
  color: inherit;
  width: 100%;
  height: 100%;
}

wt-upload-file-picker-animation.wt-upload-file-picker {
  margin-top: auto;
  cursor: pointer;
}

wt-upload-file-picker-animation {
  display: block;
}

wt-upload-file-picker.wt-upload-dialog {
  margin-bottom: 24px;
}

wt-upload-file-picker {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--text-primary);
  --wt-feature-discovery-zindex: 3000;
}

wt-upload-dialog {
  display: flex;
  display: none;
  flex-direction: column;
  --paper-dialog-scrollable-padding: 0;
  --header-title-row-height: 64px;
  --button-row-height: 52px;
  --metadata-editor-left-col-min-width: 536px;
  --ytcp-feature-discovery-zindex: 3000;
}

wt-dialog.wt-upload-dialog {
  border-radius: var(--wt-extended-border-radius);
  height: calc(100% - var(--wt-vertical-bumper-size) * 2);
  min-height: 492px;
  width: 960px;
  min-width: 960px;
  overflow-x: hidden;
}

wt-dialog {
  display: block;
  margin: 24px 40px;
  background: var(--dialog-background-color);
  color: var(--dialog-color);
  font-family: "Roboto", "Noto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

[hidden] {
  display: none !important;
}

:root {
  --main-bg: #0f0f0f;
  --sidebar-bt-bg: rgba(255, 255, 255, 0.1);
  --category-bt-bg: rgba(255, 255, 255, 0.1);
  --studio-bg: #282828;
  --bg-primary: #f1f1f1;
  --bg-primary-inverse: #0d0d0d;
  --bg-black: #0f0f0f;
  --bg-gray: #aaa;
  --bg-sub-blue: #3ea6ff;
  --detail-tag-blue: #3ea6ff;
  --search-icon-color: #eee;
  --searchbar-border-color: hsl(0, 0%, 18.82%);
  --searchbar-button-color: hsla(0, 0%, 100%, 0.08);
  --text-primary: #f1f1f1;
  --text-primary-inverse: #0f0f0f;
  --text-black: #0f0f0f;
  --text-secondary: #aaa;
  --text-sub-blue: #3ea6ff;
  --text-tag-blue: #3ea6ff;
  --black-alpha-20: rgba(0, 0, 0, 0.2);
  --white-alpha-10: rgba(255, 255, 255, 0.1);
  --white-alpha-20: rgba(255, 255, 255, 0.2);
  --white-alpha-30: rgba(255, 255, 255, 0.3);
  --tab-active-border: #eee;
  --logo-color: #f1f1f1;
  --header-input-color: #f1f1f1;
  --white: #fff;
  --black: #000;

  --comment-sort-bg: rgba(33, 33, 33, 0.98);
  --comment-bt-text-disabled: #717171;

  --text-disabled: #717171;

  --static-brand-red: #f00;
  --static-brand-white: #fff;

  --wt-static-overlay-background-heavy: rgba(0, 0, 0, 0.8);
  --wt-static-overlay-background-medium: rgba(0, 0, 0, 0.6);
  --wt-static-overlay-text-primary: #fff;
  --wt-static-overlay-text-secondary: rgba(255, 255, 255, 0.7);
  --wt-static-overlay-text-disabled: rgba(255, 255, 255, 0.3);

  --player-control-time-text: #ddd;

  --setting-button-hover: rgb(50, 65, 82);
  --icon-disabled: #606060;
  --icon-error-red: #ff4e45;

  --container-border: #606060;

  --general-bg: #1f1f1f;

  --wt-overlay-background-inverse: rgba(40, 40, 40, 0.6);
  --wt-general-background-a: #1f1f1f;
  --wt-general-background-b: #161616;
  --wt-general-background-c: #0d0d0d;

  --wt-listbox-background-color: #282828;
  --wt-listbox-color: #f1f1f1;

  --icon-standard-length: 24px;
  --icon-standard-padding: 8px;
  --icon-compact-length: 20px;
  --icon-color: #aaa;

  --wt-text-disabled: #717171;
  --wt-line-divider: rgba(255, 255, 255, 0.1);

  --wt-theme-green: #2ba640;
  --wt-theme-red: #ff4e45;
  --wt-theme-blue-bg: #3ea6ff;
  --wt-brand-background-solid: #282828;
  --wt-brand-background-solid-inverse: #fff;

  --wt-container-border: 1px solid var(--container-border);
  --wt-container-border-radius: var(--wt-standard-border-radius);

  --wt-standard-border-radius: 4px;
  --wt-extended-border-radius: 6px;
  --radio-button-size: 20px;
  --wt-icon-inactive: #717171;

  --wt-video-metadata-info-player-width: 304px;
  --wt-video-metadata-info-player-height: 171px;

  --wt-vertical-bumper-size: 48px;

  --dialog-background-color: var(--studio-bg);
  --dialog-color: var(--text-primary);

  --header-title-row-height: 64px;
  --row-height: 84px;

  --outgoing-curve: cubic-bezier(0.4, 0, 1, 1);
  --incoming-curve: cubic-bezier(0, 0, 0.2, 1);

  --wt-overlay-drop-shadow-app-header: rgba(0, 0, 0, 0.2);

  --wt-thumbnails-border-radius: 2px;

  --wt-static-overlay-background-heavy: rgba(0, 0, 0, 0.8);

  --wt-form-fields-gap: 24px;
  --wt-form-field-horizontal-padding: 12px;

  --wt-icon-width: 40px;
  --wt-icon-height: 40px;


  --common-duration-150: 150ms;
  --common-duration-200: 200ms;
  --common-duration-250: 250ms;
  --common-duration-300: 300ms;
  --common-duration-450: 450ms;
  --common-duration-500: 500ms;


  --wt-font-caption1-baseline-top: 12px;
  --wt-font-subheading-baseline-bottom: 7px;

  --wt-subheadline-font-size: 1.6rem;
  --wt-subheadline-font-weight: 400;
  --wt-subheadline-line-height: 2.2rem;

  --wt-thumbnails-border-radius: 2px;


  --wt-margin-2x: 8px;
  --wt-margin-3x: 12px;
  --wt-margin-4x: 16px;
  --wt-margin-5x: 20px;
  --wt-margin-6x: 24px;
  --wt-margin-7x: 28px;
  --wt-margin-8x: 32px;
  --wt-margin-9x: 36px;
  --wt-margin-10x: 40px;
  --wt-margin-11x: 44px;
  --wt-margin-12x: 48px;
  --wt-margin-14x: 56px;
  --wt-margin-16x: 64px;
  --wt-margin-17x: 68px;
  --wt-margin-24x: 96px;
  --wt-margin-25x: 100px;
  --wt-margin-35x: 140px;


  --wt-user-comment-font-size: 1.4rem;
  --wt-user-comment-font-weight: 400;
  --wt-user-comment-line-height: 2rem;
  --wt-tab-system-font-size: 1.4rem;
  --wt-tab-system-font-weight: 500;
  --wt-tab-system-letter-spacing: 0.007px;
  --wt-tab-system-text-transform: uppercase;


  --wt-grid-item-margin: 16px;
  --wt-grid-item-min-width: 320px;
  --wt-grid-item-max-width: 360px;
}

wt-grid-render {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
  left: 250px;
  width: 85.3972%;
}

wt-grid-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

wt-item-render {
  position: relative;
  margin-left: calc(var(--wt-grid-item-margin)/2);
  margin-right: calc(var(--wt-grid-item-margin)/2);
  margin-bottom: 40px;
  width: calc(100%/var(--wt-grid-item-row) - var(--wt-grid-item-margin) - 0.01px);
}

wt-chip-bar {
  --wt-grid-chip-bar-width: 100%;
  --wt-grid-chip-bar-top: 56px;
  width: 100%;
  height: 56px;
  display: flex;
}

wt-chip {
  height: 32px;
  min-width: 12px;
  padding: 0 10px;
  border-radius: 16px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  font-size: 0.8rem;
  font-weight: var(--wt-user-comment-font-weight);
  line-height: var(--wt-user-comment-line-height);
}

wt-chip {
  border-radius: 8px;
  border: none;
  background-color: var(--white-alpha-10);
  color: var(--text-primary);
}

wt-formatted-string[ellipsis-style] {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

wt-grid-media {
  --wt-button-compact-background-color: var(var(--white-alpha-10));
  --wt-button-compact-text-color: var(var(--text-secondary));
  width: 100%;
  margin: 0;
  display: block;
  max-width: var(--wt-grid-item-max-width);
  position: relative;
}

wtd-thumbnail {
  display: block;
  position: relative;
  flex: none;
}

wtd-thumbnail-overlay-time-status-render {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
  color: var(--static-brand-white);
  background-color: var(--wt-static-overlay-background-heavy);
  padding: 3px 4px;
  height: 12px;
  border-radius: 2px;
  font-size: var(--yt-badge-font-size, 0.8rem);
  font-weight: var(--yt-badge-font-weight, 500);
  line-height: var(--yt-badge-line-height-size, 1.2rem);
  letter-spacing: var(--yt-badge-letter-spacing, 0.5px);
  flex-direction: row;
  align-items: center;
  display: inline-flex;
}

wt-img-shadow {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.2s;
  flex: none;
}

wtd-video-meta-block {
  display: flex;
  flex-direction: column;
}

wtd-channel-name {
  /* z-index: 300; */
  display: flex;
  align-self: flex-start;
}

wtd-watch-flexy {
  --wt-watch-flexy-sidebar-width: 402px;
  --wt-watch-flexy-sidebar-min-width: 300px;
  --wt-watch-flexy-masthead-height: 56px;
  min-width: 0;
  padding-top: 60px;
}

wtd-watch-metadata {
  display: block;
  color: var(--text-primary);
}

wtd-video-owner-render {
  min-width: 0;
  display: flex;
  flex-direction: row;
}

wtd-subscribe-button-render {
  display: flex;
  flex-direction: row;
  align-items: center;
  --wt-formatted-string-deemphasize-color: var(--static-brand-white);
}

wt-button-render {
  --paper-button-ink-color: var(--wt-icon-inactive);
  --yt-formatted-string-deemphasize-color: var(--static-brand-white);
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

wt-button-shape {
  display: flex;
  flex: 1;
  flex-basis: 1e-9px;
}

wtd-menu-render {
  display: flex;
  flex-direction: row;
}

wtd-like-dislike-button-render {
  display: flex;
}

wtd-toggle-button-render {
  display: inline-block;
  --paper-button-ink-color: var(--wt-icon-inactive);
  --wt-button-padding: 10px 16px;
  --wt-button-margin: 0;
  --wt-button-padding-minus-border: 9px 15px;
  vertical-align: middle;
  font-size: var(--wt-tab-system-font-size);
  font-weight: var(--wt-tab-system-font-weight);
  letter-spacing: var(--wt-tab-system-letter-spacing);
  text-transform: var(--wt-tab-system-text-transform);
}



wt-animated-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

wtd-button-render {
  --paper-button-ink-color: var(--icon-disabled);
  --wt-formatted-string-deemphasize-color: var(--static-brand-white);
  vertical-align: middle;
  white-space: nowrap;
  font-size: var(--wt-tab-system-font-size);
  font-weight: var(--wt-tab-system-font-weight);
  letter-spacing: var(--wt-tab-system-letter-spacing);
  text-transform: var(--wt-tab-system-text-transform);
}

wtd-text-inline-expander {
  display: block;
  position: relative;
  overflow: hidden;
  contain: content;
  color: var(--text-primary);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 400;
}

wtd-comments {
  display: block;
}

wtd-comments-header {
  --paper-input-container-input-align: baseline;
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

wt-dropdown-menu {
  --paper-menu-button-content-border-radius: 8px;
  display: inline-block;
  max-width: 100%;
}

wt-menu-button {
  display: inline-block;
  position: relative;
  outline: none;
}

wt-paper-button {
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}

wt-listbox {
  display: block;
  padding: 8px 0;
  background: var(--wt-listbox-background-color);
  color: var(--wt-listbox-color);
}

wt-paper-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", "Noto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-height: 48px;
  position: relative;
  padding: 0 16px;
}

wt-paper-item-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

wtd-comment-simplebox-render {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

wtd-comment-thread-render {
  display: block;
  margin-bottom: 16px;
}

wtd-comment-render {
  --wt-comment-thumb-dimension: 32px;
  --wt-pinned-comment-badge-margin-left: -2px;
  display: block;
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
  --wt-endpoint-word-wrap: break-word;
  --wt-endpoint-word-break: break-word;
}

wtd-expander {
  display: block;
}

wtd-comment-action-button-render {
  display: block;
  color: var(--text-secondary);
  min-height: 16px;
}

wtd-comment-reply-dialog-render {
  --paper-input-container-input-align: baseline;
  --wt-basic-foreground-title-color: var(--text-secondary);
}

wtd-commentbox {
  display: flex;
  flex-direction: column;
}

wtd-icon-button {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  font-size: 0;
}

wtd-comment-replies-render {
  --wt-next-continuation-button-margin-left: -8px;
  display: block;
  margin-left: 56px;
}

wtd-guide-render {
  --wt-endpoint-color: var(--text-primary);
  display: block;
}

wtd-guide-section-render {
  --paper-item-min-height: 40px;
  display: block;
}

wtd-guide-entry-render {
  border-radius: 10px;
  width: calc(100% - 12px);
  display: block;
  position: relative;
}

wt-app-drawer {
  --app-drawer-width: 240px;
  z-index: 1;
  position: fixed;
  top: -120px;
  right: 0;
  bottom: -120px;
  left: 0;
}

wtd-guide-section-entry-render {
  display: block;
}

wtd-guide-col-entry-render {
  display: block;
}

wt-icon {
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}

wtd-tab-header-render {
  --wt-lightsource-section1-color: var(--main-bg);
  --wt-lightsource-primary-title-color: var(--text-primary);
  --wt-lightsource-secondary-title-color: var(--text-secondary);
  display: block;
}

wt-app-header-layout {
  display: block;
  position: relative;
  z-index: 0;
}

wtd-channel-profile {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0 24px 0 0;
}

wt-app-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 64px;
  padding: 0 16px;
  font-size: 20px;
}

wt-paper-tabs {
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;

}

wt-paper-tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 12px;
  overflow: hidden;
  cursor: pointer;
  font-family: "Roboto", "Noto", sans-serif;
}

wtd-expandable-tab-render {
  color: var(--text-secondary);
  width: 300px;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
}